```{=html}

<div class="list grid" style="column-gap: 10px;">

<% for (const item of items) { %>
    <div class="card border-2 rounded-3 g-col-12 g-col-sm-6 g-col-md-4 mb-2">
        <div class="card-header py-1 px-2 border-bottom border-1 bg-light">
          <small class="card-text text-nowrap inline-block">
            <%= item.title %>
          </small>
        <a href="people2/<%= item.page_link %>.html">
          <img src="<%= item.photo %>" alt="Image" class="card-img-top"/>
        </a>
        <small class="card-text text-nowrap inline-block">
            <%= item.position %>
        </small>
        <p>
            <a href="https://github.com/<%= item.github %>">GitHub</a>
        </p>

      </div>

<% } %>
</div>

```